[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
httpretty = "*"
pytest = "*"
pytest-cov = "*"
flake8 = "*"
pylint = "*"
autopep8 = "*"
yapf = "*"

[packages]
xmltodict = "*"
requests = "*"
upnpclient = "*"
http-parser = "*"

[requires]
python_version = "3.6"
