-i https://pypi.org/simple
certifi==2018.11.29
chardet==3.0.4
http-parser==0.8.3
idna==2.8
ifaddr==0.1.6
lxml==4.3.0
netdisco==2.3.0
python-dateutil==2.7.5
requests==2.21.0
six==1.12.0
upnpclient==0.0.8
urllib3==1.24.1
xmltodict==0.11.0
zeroconf==0.21.3
